################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DatabaseClass/v16
/.vs
/Experiment_1/.vs/Experiment_1/v16
